---
title: Program
layout: page
mathjax: true
---

<table class="pure-table pure-table-horizontal"
       style="margin-left: auto; margin-right: auto">
  {% for day in site.data.schedule %}
  <thead>
    <td>{{ day.date }}</td>
    <td>Talks in {{ day.where }}</td>
    <td></td>
  </thead>
  <tbody>
    {% for talk in day.talks %}<tr>
      {% assign speakers = site.data.speakers | where: "name", talk.name %}
    <td>{{ talk.time }}</td>
    <td>
      {% if speakers.size > 0 %}
      {% if talk.note %}{{ talk.note }}<br/>{% endif %}
      {% for speaker in speakers %}
      {% if speaker.title %}<a href="#{{ speaker.name | slugify }}">{{ speaker.name }}</a>,{% else %}{{ speaker.name }},{% endif %}
      {{ speaker.affil }}
    </td>
    <td>{% if speaker.slides %}<a href="{{ speaker.slides }}">[slides]</a>{% endif %}</td>
      {% endfor %}
      {% else %}{{ talk.name }}</td><td></td>{% endif %}
      </td>
  </tr>{% endfor %}
  </tbody>
  {% endfor %}
</table>

<h2>Agenda </h2>
<ul>
 <li> October 3, Friday, <a href="https://www.berkeleyfacultyclub.com/visit">Faculty Club</a>, UC Berkeley
        <ul>
        <li> 1:00 - 5:00: talks, activities
        <li> 6:30 - 9:00: banquet dinner </li>
        </ul>
 <li> October 4, Saturday, <a href="https://www.berkeley.edu/map/soda-hall/"><306 Soda Hall>, UC Berkeley
        <ul>
        <li> 9:00 - 5:00: talks, activities
        </ul>
 </li>
</ul>

<h2>Speakers</h2>

<ul>{% for person in site.data.speakers %}
  <li>
    {% if person.title %}
    <a href="#{{ person.name | slugify }}">{{ person.name }}, {{ person.affil }}</a>
    {% else %}
    {{ person.name }}, {{ person.affil }}
    {% endif %}
  </li>{% endfor %}
</ul>

<!--
<h2>Abstracts</h2>

{% for person in site.data.speakers %}
{% if person.title %}
<hr/>
<h3><a name="{{ person.name | slugify }}">{{ person.title }}</a></h3>
<h4>{{ person.name }}, {{ person.affil }}</h4>
{% if person.slides %}<h4><a href="{{ person.slides }}">[slides]</a></h4>{% endif %}

{{ person.abstract | markdownify }}
{% endif %}
{% endfor %}
-->
