---
title: Program
layout: page
---

<p>
  A preliminary program is below.  All events take place on the UC
  Berkeley campus.
</p>

<table class="pure-table pure-table-horizontal"
       style="margin-left: auto; margin-right: auto">
  {% for day in site.data.schedule %}
  <thead>
    <td>{{ day.date }}</td>
    <td>Talks in {{ day.where }}</td>
  </thead>
  <tbody>
  {% for talk in day.talks %}<tr>
    <td>{{ talk.time }}</td>
    <td>{{ talk.name }}</td>
  </tr>{% endfor %}
  </tbody>
  {% endfor %}
</table>

<p>
  The following speakers have confirmed their participation:
</p>
<ul>{% for person in site.data.speakers %}
  <li>{{ person.name }}, {{ person.affil }}</li>{% endfor %}
</ul>
