<!-- Fancy SVG logo using recommended Cal colors / fonts -->
<svg height="220" width="600">
  <g transform="translate(-15 5) scale(2)">
    <rect x="25" y="0" width="260" height="100"
          style="fill:#FDB515;stroke:#003A70;stroke-width:2">
    </rect>
    <polygon
       points="25,0 50,0 50,25
               75,25 75,50 100,50
               100,75 125,75 125,100 25,100"
       style="fill:#C2B9A7;stroke:#003A70;stroke-width:2"/>
    <polygon
       points="25,25 50,25 50,50 
               75,50 75,75 100,75 
               100,100 125,100 25,100"
       style="fill:#003A70;stroke:#003A70;stroke-width:2"/>
    <text x="30" y="25" style="font-family:'Open Sans', sans-serif;font-size:28">
      <tspan x="27" y="23">D</tspan>
      <tspan x="50" y="48">M</tspan>
      <tspan x="75" y="73">M</tspan>
      <tspan x="105" y="98">L<tspan>
    </text>      
    <text x="30" y="25" style="font-family:'Open Sans', sans-serif;font-size:24">
      <tspan x="50" y="23">evelopment of</tspan>
      <tspan x="75" y="48">odern</tspan>
      <tspan x="100" y="73">ethods for</tspan>
      <tspan x="125" y="98">inear Algebra</tspan>
    </text>      
  </g>
</svg>
