<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>

<div id="menu">
  <div class="pure-menu pure-menu-open pure-menu-custom">
    <a class="pure-menu-heading" href="#">DMML</a>    
    <ul>
      {% for link in site.data.navpages %}
      <li{% if page.title == link.name %} class="pure-menu-selected"{% endif %}>
        <a href="{{ site.baseurl }}{{ link.link }}.html">{{ link.name }}</a>
      </li>
      {% endfor %}
      <li><a href="https://www.dbindel.net/dmml60">DMML60</a></li>
    </ul>
  </div>
</div>
